<h1>Chat</h1>
<div class="container">
  <label>Hola {{usuario.email}}!</label>
</div>

<div class="app-mensajes" id="app-mensajes">

  <div *ngFor="let chat of _cs.chats" [ngClass]="{'text-right':usuario.displayName 
  == chat.nombreLogueado}">
    <span class="badge" [ngClass]="{'badge-primary':usuario.uid == chat.uidLogueado,
    'badge-danger':usuario.uid != chat.uidLogueado}">{{chat.nombreLogueado}}</span>
    <p>
      {{chat.mensaje}}
    </p>
  </div>
</div>
<input type="text" name="mensaje" [(ngModel)]="mensaje" class="form-control" (keyup.enter)="enviar_mensaje()"
placeholder="Enviar mensaje">

