a{
    text-decoration: none;
    color: crimson;
}
.container{
    max-width: 100rem;
    width: 90%;
    margin: 0 auto;
    background: lightgray;
}
nav{
    padding-top: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.3rem;
}   

.brand{
    font-size: 3rem;
    font-weight: 300;
    transform: translateX(-100rem);
    animation: slideIn .5s forwards;
    color: crimson;

    
}

.brand span{
    color: black;
    font-size: 2.5rem;
}    

nav ul{
    display: flex;
}

nav ul li{
    margin-left: 15px;
    list-style: none;
    transform: translateX(100rem);
    animation: slideIn .5s forwards;
}

nav ul li:nth-child(1){
    animation-delay: 0s;
}


nav ul li:nth-child(2){
    animation-delay: .5s;
}


nav ul li:nth-child(3){
    animation-delay: 1s;
}


nav ul li a{
    padding: 1rem 0;
    max-resolution: 0 3rem;
    position: relative;
    letter-spacing: 2px;
}

nav u li a:last-child{
    margin-right: 0;
}

nav ul li a::before,nav ul li a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: black;
    left: 0;
    transform: scaleX(0);
    transition: all .5s;
}

nav ul li a::before{
    top: 0 ; 
    transform-origin: left;
}

nav ul li a::after{
    bottom: 0  ;
    transform-origin: right;
}
    
nav ul li a:hover::before,nav ul li a:hover:after{

    transform: scaleX(1);
}

    
@keyframes slideIn{
    from{
    }
    to{
        transform: translateX(0);
    }
}